<!--h1>Stocks</h1-->
<button class="btn btn-outline btn-lg" (click)="addStock()">Add Stock </button>
<span style="float:right; padding-right: 5px; padding-top: 15px;"><b>LAST UPDATED: {{ lastUpdatedTime | date:'hh:mm:ss a' }}</b></span>

<clr-datagrid>
    <clr-dg-column clrDgField="ticker">Ticker</clr-dg-column>
    <clr-dg-column clrDgField="price">Price</clr-dg-column>
    <clr-dg-column>Last Fetched Price</clr-dg-column>
    <!--clr-dg-column clrDgField="previousPrice">Previous Price</clr-dg-column-->
    <clr-dg-column>Opening Price</clr-dg-column>
    <clr-dg-column clrDgField="percentProfit">Percent Gain/Loss</clr-dg-column>
    <clr-dg-column>Name</clr-dg-column>
    <clr-dg-column>Description</clr-dg-column>
    <!--clr-dg-column>Last Updated</clr-dg-column-->

    <clr-dg-row 
        *clrDgItems="let stock of stocks$ | async; trackBy trackById" 
        [clrDgItem]="stock">
        <clr-dg-action-overflow>
            <button class="action-item" (click)="onDelete(stock)">Delete</button>
        </clr-dg-action-overflow>

        <clr-dg-cell>{{ stock.ticker }}</clr-dg-cell>
        <clr-dg-cell>${{ stock.price | number:'1.2-2' }}</clr-dg-cell>
        <clr-dg-cell>${{ stock.lastFetchedPrice | number:'1.2-2' }}</clr-dg-cell>
        <!--clr-dg-cell>${{ stock.previousPrice }}</clr-dg-cell-->
        <clr-dg-cell>${{ stock.openingPrice | number:'1.2-2' }}</clr-dg-cell>
        <clr-dg-cell 
            [ngStyle]="{'color': getProfit(stock) > 0 ? 'green': 'red'}">
            {{ getProfit(stock) | number:'1.2-2' }}%</clr-dg-cell>
        <clr-dg-cell>{{ stock.name }}</clr-dg-cell>
        <clr-dg-cell>{{ stock.description }}</clr-dg-cell>
        <!--clr-dg-cell>{{ stock.lastUpdatedDate | date:'MM/dd/yy hh:mm:ss a' }}</clr-dg-cell-->
    </clr-dg-row>

    <clr-dg-footer>
        <clr-dg-pagination #pagination [clrDgPageSize]="10">
            <clr-dg-page-size [clrPageSizeOptions]="[5,10,20]">Stocks Per Page</clr-dg-page-size>
            {{ pagination.firstItem + 1 }} - {{ pagination.lastItem + 1 }} of {{ pagination.totalItems }} stocks
        </clr-dg-pagination>
    </clr-dg-footer>
</clr-datagrid>

<in-delete-stock-modal 
    *ngIf="delete" 
    [stock]="stockToBeDeleted" 
    (cancel)="handleCancel()" 
    (confirm)="confirmDelete()"></in-delete-stock-modal>

<in-stock 
    *ngIf="showAddDialog" 
    (cancel)="handleAddDialogCancel()" 
    (finish)="handleAddDialogFinish($event)"></in-stock>