<form [formGroup]="stockForm">
    <clr-wizard 
        #stockWizard 
        [clrWizardOpen]="true" 
        clrWizardSize="md" 
        (clrWizardOnCancel)="handleClose()">

        <clr-wizard-title>Add New Stock</clr-wizard-title>
        <clr-wizard-button [type]="'cancel'" (click)="handleClose()">Cancel</clr-wizard-button>
        <clr-wizard-button [type]="'previous'">Back</clr-wizard-button>
        <clr-wizard-button [type]="'next'">Next</clr-wizard-button>
        <clr-wizard-button [type]="'finish'" (click)="handleFinish()">Finish</clr-wizard-button>

        <clr-wizard-page>
            <ng-template clrPageTitle>Enter Ticker</ng-template>
                <!--Input field for stock ticker-->
                <clr-input-container>
                    <label for="ticker">Ticker *</label>
                    <input 
                        clrInput type="text" 
                        id="ticker" 
                        placeholder="TSLA..." 
                        formControlName="ticker">
                    <clr-control-error>This Field is Required</clr-control-error>
                </clr-input-container>
                <p><small>Will be added to the list in the next page update.</small></p>
        </clr-wizard-page>
    </clr-wizard>
</form>